<%- include('partials/header.ejs') %>

    <!-- <h2>Welcome to the List App! Today is <%#= new Date() %>
    </h2> -->

    <%- include('partials/list.ejs') %>

        <%- include('partials/footer.ejs') %>